.cart__wrapper {
  .empty__cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }

  .cart__title {
    padding: 0.25em 0;
    font-weight: var(--fw-title);
  }

  .cart__content {
    padding: 0.75em;
  }

  .separator {
    margin: 0.75em 0;
  }

  .cart__btnGroup {
    padding: 0.75em;

    .cart__price__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.75em;

      .cart__subtotal,
      .cart__price {
        font-weight: var(--fw-title);
      }

      .cart__price {
        color: var(--clr-primary);
      }
    }

    .btn__wrapper {
      .link {
        text-decoration: none;
        color: inherit;

        .cart__btn {
          text-transform: capitalize;
          margin-bottom: 0.75em;
        }
      }
    }
  }
}
