.cart_wrapper {
  overflow: hidden;
  padding: 2rem 0;
}

.left_part {
  padding: 0 2rem;
  border-right: 1px solid rgb(213, 203, 203);
}

@media only screen and (max-width: 900px) {
  .left_part {
    border-right: none;
    margin-bottom: 3rem;
  }
}

.product_div {
  width: 100%;
  display: flex;
  box-shadow: -1px 0 0 0 rgb(212, 209, 209);
  margin-bottom: 0.8rem;
}

.product_img {
  width: 18%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_details {
  width: 82%;
  padding: 5px 10px;
  background-color: rgb(249, 245, 245);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right_part {
  padding: 0 2rem;
}

.table_row {
  display: flex !important;
  justify-content: space-between;
  margin-bottom: 0.7rem;
}
