.cartItems__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
  padding: 0.5em;
  margin-bottom: 0.25em;
  border-radius: 0.25em;

  .cartItems__description__wrapper {
    display: flex;
    align-items: center;
    width: 60%;

    .cartItems__thumbnail {
      border-radius: 0.25em;
    }

    .cartItems__description {
      margin-left: 0.5em;

      .cartItems__price__wrapper {
        display: flex;
        align-items: center;

        .cartItems__price {
          color: var(--clr-primary);
        }
      }
    }
  }

  .cartItems__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .clear__btn {
    justify-self: end;
  }
}
