.container {
  display: flex !important;
  justify-content: space-between !important;
  padding-bottom: 10px;
  .head {
    font-weight: 700;
    font-size: 30px;
    span {
      color: #078852 !important;
      padding-left: 5px;
    }
  }
}
