.cart_wrapper {
  overflow: hidden;
}

.left_part {
  @media only screen and (max-width: 900px) {
    margin-bottom: 3rem;
  }

  .empty__cart {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 50vh;
    text-align: center;
  }
}

.right_part {
  padding-left: 2rem;
  border-left: 1px solid #ddd;
  margin-left: 1rem;

  @media only screen and (max-width: 900px) {
    margin-left: 0;
    border-left: none;
  }
}

@media only screen and (max-width: 900px) {
  .right_part {
    padding-left: 0;
  }
}

.table_row {
  display: flex !important;
  justify-content: space-between;
  margin-bottom: 0.7rem;
}

.link {
  text-decoration: none;
  color: inherit;
}
