.checkout__wrapper {
  margin: 2em auto;

  .checkout__paper {
    padding: 2em;
    @media only screen and (max-width: 900px) {
      padding: 1.25em;
    }

    .stepper {
      padding: 3em 0;
      @media only screen and (max-width: 900px) {
        padding: 1.25em 0;
      }
    }
  }
}
