.order__wrapper {
  margin-bottom: 2rem;

  @media only screen and (max-width: 900px) {
    margin-bottom: 1rem;

    .heading {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  .divider {
    margin-bottom: 1rem;
  }

  .table__wrapper {
    .table__head {
      background: #f5f5f5;
    }

    .table__row {
      .status--pending {
        background: #ff00008c;
        padding: 5px 8px;
        border-radius: 3px;
      }
      .status--delivered {
        background: #6bc295;
        padding: 5px 8px;
        border-radius: 3px;
      }

      &:last-child > td {
        border-bottom: none !important;
      }

      .view__btn {
        text-transform: capitalize;
      }
    }

    .table__row:nth-child(2n) {
      background: #f5f5f5;
    }
  }

  .pagination__wrapper {
    display: flex;
    justify-content: center;
    padding: 2rem 0;

    @media only screen and (max-width: 900px) {
      padding: 1.5rem 0;
    }
  }
}

.link {
  text-decoration: none;
  color: inherit;
}
