.shipping-form__btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;

  .shipping-form__link {
    text-decoration: none;
    color: inherit;

    .shipping-form__btn {
      text-transform: capitalize;
    }
  }
}
