.sidebar_container{
    border-right: 1px solid #d8d8d8;
    padding: 1rem;
    background-color: white;
}

@media screen and (max-width:786px)
{
    .sidebar_container{
        /* margin-left: -50rem; */
        display: none;
        z-index: 10;
        height: 0;
        background-color: white;

    }
    
    .sidebar_container_true{
        /* margin-left: -50rem; */
        display: block !important;
        position: absolute;
        width: 60%;
        height: 100%;
        border: none;
    }
    
}