.wrapper {
  width: 100%;
}

.img_div {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lower_div {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.lower_left {
  padding: 2rem 3rem;
  border-right: 1px solid gray;
}

@media only screen and (max-width: 900px) {
  .lower_left {
    border-right: none;
  }
}

.lower_right {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter {
  width: 200px;
  display: flex;
  justify-content: space-around;
}
