.skeleton__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.content__wrapper {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: 2rem;
      font-weight: 500;

      @media only screen and (max-width: 900px) {
        font-size: 1.4rem;
      }
    }

    .btn__group {
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .icon {
        cursor: pointer;
      }
    }
  }

  .divider {
    margin: 0.8rem 0 !important;
  }

  .view-btn__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;

    .view--btn {
      background: #000;
    }
  }
}
