.footer__wrapper {
  background-color: var(--clr-bg);
  color: var(--clr-white);
  padding: 6em 0;

  @media only screen and (max-width: 900px) {
    padding: 1.5em 0;
  }

  .link {
    text-decoration: none;
    color: inherit;
    display: block;
    width: fit-content;
  }

  .getStarted__title {
    margin-bottom: 1em;
  }

  .getStarted__btn {
    text-transform: capitalize;
    margin-bottom: 1em;
  }

  .item__title {
    color: var(--clr-primary-light);
    font-weight: var(--fw-title);
  }

  .item__link {
    margin: 1em 0;
    font-size: 0.875em;

    &:hover {
      text-decoration: underline;
    }
  }

  .footer__secondary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    margin-top: 4em;

    @media only screen and (max-width: 900px) {
      margin-top: 2em;
      justify-items: center;
    }

    .__left {
      display: flex;
      width: 250px;
      justify-content: space-between;

      .__text {
        font-size: 0.9em;
      }
    }

    .__right {
      text-align: center;
      margin-left: 8em;

      @media only screen and (max-width: 1200px) {
        margin-left: 0;
      }

      .social__link {
        text-decoration: none;
        color: inherit;

        .__icons {
          margin: 0 0.2em;
        }
      }
    }
  }
}
